@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.home-info {
    height: 70vh;
}

.fadeIn {
    animation: fadeIn 1s;
}

.rotation {
    animation: rotate 2s infinite;
}